/* All common CSS files should start here */
* {
     margin: 0;
     padding: 0;
 }
/* All common CSS files should end here */

h1{
    background: red;
}

h2{
    background: lightgreen;
    display: inline-block;
}

h3{
    background: lightblue;
    display: inline;
}